<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The portolio page of Sergen Karaoglan containing
    a list of software development projects.">
    <meta name="author" content="Sergen Karaoglan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/panel.js"></script>
  </head>
  <body>
    <header>
      <h1>Sergen Karaoglan</h1>
      {% include nav.html %}
    </header>
    {{ content }}
  </body>
</html>